@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family:  'Nunito Sans';
}

@font-face {
    src: url('../fonts/NunitoSans-Bold.ttf');
    font-family:  'Nunito Sans';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/NunitoSans-Italic.ttf');
    font-family:  'Nunito Sans';
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.section  {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img  {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #181818;
}

h1 {
    font-size: 40px;
    line-height: 53px;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

.h4 {
    font-size: 18px;
    line-height: 25px;
}

p {
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #363636;
}

main {
    display: block;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header, footer {
    background-color: #131313;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0; 
    border: 0;
    text-transform: uppercase;
    padding: 13px 23px;
    font-style: italic;
    color: #fff;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.text-gold {
    color:#E3B873
}

.label {
    cursor: pointer;
}

label {
  cursor: default;
}

.checkbox label:before {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    margin-right: 10px;
    background-color: #fff;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    background-color: #E3B873;
}

  
/* Header */

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header__logo {
    color: #E3B873;
}

/* Nav */

.nav {
    font-size: 11px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #E3B873
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #E3B873;
}

.header__phone {
    color: #E3B873;
    margin-right: 10px;
}

.header__btn {
    display: inline-block;
    font-size: 11px;
    transition: background .1s linear, color .1s linear;
} 

.button .header__btn:hover {
    background: #fff;
    color: #E3B873;
}

/* Intro */

.intro {
    height: 707px;
    background: url('../images/hero.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro__inner {
    max-width: 600px;
    position: relative;
    z-index: 2;
    top: 30%;
    left: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.intro__title {
    font-size: 40px;
    color: #fff;
}

.intro__text {
    font-size: 22px;
    color: #fff;
    width: auto;
}

.intro__btn-cost {
    margin-right: 20px;
    width: 207px;
    height: 51px;
    font-size: 11px;
}

.intro__btn-submit {
    width: 207px;
    height: 51px;
    background: none;
    border: 1px solid #fff;
    font-size: 11px;
    color: white;
}

.intro__btn-cost:hover {
    background: #fff;
    color: #E3B873;
}

.intro__btn-submit:hover {
    background: #E3B873;
}

/* Projects */

.projects {
    background: #131313;
    height: 1074px;
    padding-bottom: 400px
}

.projects__inner {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    margin: 0 auto;
    height: 552px;
}

.projects__inner-list {
    flex: 1;
    padding-left: 42px;
    margin-top: 176px;
    width: 40%;
}

.projects__inner-list-text {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 32px;
    margin-top: 34px;
    margin-right: 35px;
}

.projects__inner-list-items {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project__item {
    width: 50%;
    height: 106px;
}

.project__item h3 {
    font-size: 18px;
    line-height: 25px;
}

.project__item-text {
    color:#fff;
    font-size: 13px;
    line-height: 21px;
}

.projects__inner-list-arrows {
    display: flex;
    flex-direction: row;
}
.projects__inner-list-arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.projects__inner-list-arrow:focus {
    outline: none;
}

.projects__inner-list-arrows ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.projects__inner-list-arrows li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 12px;
    opacity: 0.5;
}

.projects__inner-list-arrows .active {
    opacity: 1;
}

/* Projects Slider */
.projects__inner-slider {
    flex: 1.55;
    width: 80em;
}

.projects__inner-slider-nav {
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.projects__inner-slider-link {
    display: inline-block;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-right: 15px;
    position: relative;
    transition: color .1s linear;
}

.projects__inner-slider-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity .1s linear;
}

.projects__inner-slider-link:hover {
    color: #E3B873;
}

.projects__inner-slider-link.active:after {
    opacity: 1;
}

.projects__inner-slider-link.active {
    color: #E3B873;
}

.projects__inner-slider img {
    margin-top: 53px;
    width: 100%;
}

/* Control */

.control {
    background: none;
}

.control__inner {
    text-align: center;
    margin: 0 auto;
    margin-top: -345px;
}

.control__inner-title {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
}

.camera {
    margin: 0 auto;
    width: 40px;
    margin-bottom: 33px;
    position: relative;
}

.camera:before,
.camera:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    top: 14px;
}

.camera:before {
    left: -37px;
}

.camera:after {
    left: 45px;
}

.videoplay {
    max-width: 817px;
    height: 435px;
    margin: 0 auto;
    margin-top: 45px;
    height: 435px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoplay img:first-child {
    filter: brightness(.3);
}

.play-btn {
    position: absolute;
    left: calc(50% - 75px);
}

.control__text {
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-top: 93px;
    position: relative;
}

.control__text:before {
    content: ' ';
    width: 55px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: calc(50% - 29px);
    top: -31px;
}

/* control__form*/ 

.control__form {
    display: flex;
    flex-direction: row;
    max-width: 770px;
    justify-content: space-between;
    margin: 40px auto 40px;
}

.control__form-grup {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.control__form-grup label {
    color: rgba(54, 54, 54, 0.5);
}

.control__form-grup input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 7px;
    background: none;
}

.control__form input {
    font-size: 14px;
    line-height: 23px;
    color: #141414;
}

.control__form-grup input:focus {
    outline: none;
}

.control__form-btn {
    width: 200px;
    height: 50px;
    font-style: normal;
}

/* Types */

.types {
    background: none;
}

.types__inner {
    max-width: 1300px;
    margin: 0 auto;
}

.types__inner h3 {
    text-align: center;
    margin-top: 70px;
}

.types__hammer-icon {
    margin: 20px auto;
    width: 40px;
    margin-bottom: 28px;
    position: relative;
}

.types__hammer-icon:before,
.types__hammer-icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    top: 14px;
}

.types__hammer-icon:before {
    left: -37px;
}

.types__hammer-icon:after {
    left: 45px;
}

.types__worktypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 310px;
}

.types__worktypes-item {
    flex: 1;
    max-width: 392px;
    height: 421px;
    margin-top: 33px;
    background-position: center;
    background-size: cover;
}

.redecorating {
    background-image: url(images\types-1.jpg)
}

.overhaul {
    background-image: url(images\types-2.jpg)
}

.designer-repair {
    background-image: url(images\types-3.jpg)
}