body {
    margin: 0;
    font-family: Nunito Sans, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main {
    display: block;
}

/* Header */

.header {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: black;
}

.header__inner {
    padding: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 15px;
    color: #E3B873;
}
/*.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    height: 83px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    justify-items: center;
}*/

/* Nav */

.nav {
    font-size: 11px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: #E3B873;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #E3B873
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #E3B873;
}

.header__phone {
    color: #E3B873;
    font-size: 11px;
}

.btn.header__btn {
    display: inline-block;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 23px;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
} 

.btn.header__btn:hover {
    background: #fff;
    color: #E3B873;
}


/* Intro */

.intro {
    width: 100%;
    height: 100vh;

    background: url('../images/hero.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 90px;
    position: relative;
}

.intro__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.intro__inner {
    max-width: 600px;
    position: relative;
    z-index: 2;
    top: 30%;
    left: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.intro__title {
    font-family: Yeseva One, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    line-height: 1.2;
    z-index: 10;
}

.rostov {
    color: #E3B873;
}

.intro__text {
    font-size: 22px;
    color: #fff;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 10;
}

.intro__btn-cost {
    margin-top: 40px;
    margin-right: 20px;
    width: 207px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    padding: 13px 23px;
    font-size: 11px;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.intro__btn-submit {
    width: 207px;
    height: 51px;
    background: none;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 13px 23px;
    font-size: 11px;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.intro__btn-cost:hover {
    background: #fff;
    color: #E3B873;
}

.intro__btn-submit:hover {
    background: #E3B873;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}



/* What is your name: */

.input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

