@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: 'Yeseva One';
}

@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family:  'Nunito Sans';
}

@font-face {
    src: url('../fonts/NunitoSans-Bold.ttf');
    font-family:  'Nunito Sans';
    font-weight: bold;
}

@font-face {
    src: url('../fonts/NunitoSans-Italic.ttf');
    font-family:  'Nunito Sans';
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.section  {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img  {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #181818;
}

h1 {
    font-size: 40px;
    line-height: 53px;
}

h2 {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

.h4 {
    font-size: 18px;
    line-height: 25px;
}

p {
    font-family:'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #363636;
}

main {
    display: block;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header, footer {
    background-color: #131313;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0; 
    border: 0;
    text-transform: uppercase;
    padding: 13px 23px;
    font-style: normal;
    color: #fff;
    cursor: pointer;
    transition: background .1s linear, color .1s linear;
}

.text-gold {
    color:#E3B873
}

.label {
    cursor: pointer;
}

label {
  cursor: default;
}

.checkbox label:before {
    cursor: pointer;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    margin-right: 10px;
    background-color: #fff;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "";
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 15px;
    background-color: #E3B873;
    background-image: url(../images/icon/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    border: transparent;
}

  
/* Header */

header {
    position: sticky;
    top: 0;
    z-index: 999999;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.header__logo {
    color: #E3B873;
}

/* Nav */

.nav {
    font-size: 11px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #E3B873
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #E3B873;
}

.header__phone {
    color: #E3B873;
    margin-right: 10px;
}

.header__btn {
    display: inline-block;
    font-size: 11px;
    transition: background .1s linear, color .1s linear;
} 

.button .header__btn:hover {
    background: #fff;
    color: #E3B873;
}

/* Intro */

.intro {
    height: 707px;
    background: url('../images/hero.jpg') center no-repeat;
    background-size: cover;
    position: relative;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro__inner {
    max-width: 600px;
    position: relative;
    z-index: 2;
    top: 30%;
    left: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.intro__title {
    font-size: 40px;
    color: #fff;
}

.intro__text {
    font-size: 22px;
    color: #fff;
    width: auto;
}

.intro__btn-cost {
    margin-right: 20px;
    width: 207px;
    height: 51px;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.intro__btn-submit {
    width: 207px;
    height: 51px;
    background: none;
    border: 1px solid #fff;    
    padding: 0;
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
}

.intro__btn-cost:hover {
    background: #fff;
    color: #E3B873;
}

.intro__btn-submit:hover {
    background: #E3B873;
}

/* Projects */

.projects {
    background: #131313;
    height: 1074px;
    padding-bottom: 400px
}

.projects__inner {
    display: flex;
    flex-direction: row;
    max-width: 1170px;
    margin: 0 auto;
    height: 552px;
}

.projects__inner-list {
    flex: 1;
    padding-left: 42px;
    margin-top: 176px;
    width: 40%;
}

.projects__inner-list-text {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 32px;
    margin-top: 34px;
    margin-right: 35px;
}

.for-mobile {
    display: none;
}

.projects__inner-list-items {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project__item {
    width: 50%;
    height: 106px;
}

.project__item h3 {
    font-size: 18px;
    line-height: 25px;
}

.project__item-text {
    color:#fff;
    font-size: 13px;
    line-height: 21px;
}

.projects__inner-list-arrows {
    display: flex;
    flex-direction: row;
}
.projects__inner-list-arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.projects__inner-list-arrow:focus {
    outline: none;
}

.projects__inner-list-arrows ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.projects__inner-list-arrows li {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 12px;
    opacity: 0.5;
}

.projects__inner-list-arrows .active {
    opacity: 1;
}

/* Projects Slider */
.projects__inner-slider {
    flex: 1.55;
    width: 80em;
}

.projects__inner-slider-nav {
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.projects__inner-slider-link {
    display: inline-block;
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    margin-right: 15px;
    position: relative;
    transition: color .1s linear;
}

.projects__inner-slider-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: opacity .1s linear;
}

.projects__inner-slider-link:hover {
    color: #E3B873;
}

.projects__inner-slider-link.active:after {
    opacity: 1;
}

.projects__inner-slider-link.active {
    color: #E3B873;
}

.projects__inner-slider img {
    margin-top: 53px;
    width: 100%;
}

/* Control */

.control {
    background: none;
}

.control__inner {
    text-align: center;
    margin: 0 auto;
    margin-top: -345px;
}

.control__inner-title {
    color: #fff;
    margin-bottom: 12px;
}

.camera {
    margin: 0 auto;
    width: 40px;
    margin-bottom: 33px;
    position: relative;
}

.camera:before,
.camera:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    top: 14px;
}

.camera:before {
    left: -37px;
}

.camera:after {
    left: 45px;
}

.videoplay {
    max-width: 817px;
    height: 435px;
    margin: 0 auto;
    margin-top: 45px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.videoplay img:first-child {
    filter: brightness(.3);
}

.play-btn {
    position: absolute;
    left: calc(50% - 75px);
}

.control__text {
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-top: 93px;
    position: relative;
}

.control__text:before {
    content: ' ';
    width: 55px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: calc(50% - 29px);
    top: -31px;
}

/* control__form*/ 

.control__form {
    display: flex;
    flex-direction: row;
    max-width: 770px;
    justify-content: space-between;
    margin: 40px auto 40px;
}

.control__form-grup {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.for-mobile {
    display: none;
}

.control__form-grup label {
    color: rgba(54, 54, 54, 0.5);
}

.control__form-grup input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 7px;
    background: none;
}

.control__form input {
    font-size: 14px;
    line-height: 23px;
    color: #141414;
}

.control__form-grup input:focus {
    outline: none;
}

.control__form-btn {
    width: 200px;
    height: 50px;
    font-style: normal;
}

/* Types */

.types {
    background: none;
}

.types__inner {
    max-width: 1300px;
    margin: 0 auto;
}

.types__inner h3 {
    text-align: center;
    margin-top: 70px;
}

.types__hammer-icon {
    margin: 20px auto;
    width: 40px;
    margin-bottom: 28px;
    position: relative;
}

.types__hammer-icon:before,
.types__hammer-icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    top: 14px;
}

.types__hammer-icon:before {
    left: -37px;
}

.types__hammer-icon:after {
    left: 45px;
}

.types__worktypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.types__worktypes-item {
    position: relative;
    margin-right: 10px; 
}

.types_type {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: -35% auto 0;
    padding: 0 34px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);    
}

.list-title {
    padding-top: 2vh;
    text-transform: capitalize;
    color: #363636;    
}

.repair_list {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 17px;
    padding-bottom: 30px;    
}

.price {
    display: flex;
    min-width: 70%;
    height: 54px;
    left: 0;
    position: absolute;
    bottom: -10%;
    cursor:default;
}

.price-text {
    color: #fff;
    margin: auto;  
}

/* Measurement */

.measurement {
    background: url(../images/measurement-bg.png) left center/contain no-repeat;    
    
}

.measurement-inner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 707px;
}

.measurement-inner__left {
    padding-top: 70px;
    padding-bottom: 85px;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.measurement-inner__left-item {
    position: relative;
    padding-left: 70px;
    font-size: 14px;    
    color: #363636;
}

.measurement-inner__left_marker {
    position: absolute;
    left: 0;
    top: calc(50% - 29px);
    height: 55px;
    width: 55px;
    background: #E3B873;
    border: 5px solid #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, .05);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Yeseva One;
    font-size: 18px; 
}

.measurement-inner__right {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    position: relative;
    right: 10px;
}

/* measurement__form*/ 

.measurement__form {
    width: 506px;
    height: 509px;     
    background: #131313;
    display: flex;
    flex-direction: column;
    color: #fff;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);    
    margin-top: 60px;
    padding: 28px 49px;
    position: relative;
}

.measurement__form h5 {
    color: #fff;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    text-transform: none;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.measurement__form-grup {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.measurement__form-grup label {
    color: rgba(255, 255, 255, 0.5);
}

.measurement__form-grup input {
    border: none;
    border-bottom: 1px solid rgba(255, 2554, 255, 0.15);
    padding-bottom: 7px;
    background: none;
    width: 100%;
}

.measurement__form input {
    font-size: 14px;
    line-height: 23px;
    color: #fff;
}

.measurement__form-grup input:focus {
    outline: none;
}

.measurement__form-btn {
    position: static;
    margin-top: 50px;
    margin-left: 50%;
    width: 210px;
    height: 50px;
    font-style: normal;
}

.measurement-inner__moneypig {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.moneypig {
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    align-content: center;
}

/* Clients */

.clients {
    height: 1000px;
    padding-bottom: 400px;
    background-image: url(../images/city.png);
    background-position: left bottom;
    background-repeat: repeat-x;
}

.citybg {
    position: inherit;
}

.clients-inner {
    max-width: 1300px;
    margin: 0 auto;
}

.clients__title {
    color: #181818;
    text-align: center;
    margin: 20px auto;
}

.clients__icon {
    margin: 0 auto;
    width: 40px;
    margin-bottom: 33px;
    position: relative;
}

.clients__icon:before {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: -37px;
    top: 14px;
}

.clients__icon:after {
    content: ' ';
    width: 32px;
    border-bottom: 2px solid #E3B873;
    position: absolute;
    left: 40px;
    top: 14px;
}

.clients__text {
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    margin: auto;
    text-align: center;    
}

.clients__items {
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
}

.clients__items-item {
    background: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, .1);
    height: 428px;
    padding: 20px;
    max-width: 375px;
    position: relative;
}

.clients__items-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clients__items-item-title h4 {
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    text-transform: capitalize;
    margin-left: 22px;
    text-align: left;
}

.client {
    height: 75px;
    width: 75px;
    border-radius: 50px;
    overflow: hidden;
}

.clientphoto {
    object-fit: cover;
    height: 100%;
    width: 100%; 
}

.clients__info {
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    height: 54px;
    position: absolute;
    left: 0;
    bottom: -27px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fff;

}

.area_info {
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
}

.area_info span,
.timing_info span {
    padding-left: 14px;
}

.timing_info {
    background-color: #E3B873;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 2px;
}

/* QuestionForm & Map */

.questionform {
    position: relative;
    background-color: rgb(23 23 23 / 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionform::before {
    content: '';
    background-image: url(../images/background_screen_7.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: grayscale(1);
    background-size: cover;
    background-position: center;
}

.questionform_inner {
    padding-top: 223px;
    padding-bottom: 66px;
    position: relative;
}

.questionform_inner h3 {
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 50px;
}

.questions_form {
    position: absolute;
    background: #181818;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 883px;
    max-width: 100%;
    height: 445px;
    right: 0;
    left: 0;
    margin: auto;
    top: -223px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions_form h3 {
    color: #fff;
    margin-top: 0;

}

.questionform_box1 {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin: 0 auto;

}

.questionform_box2 {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: 0 auto;

}

.questionform_box1 label,
.questionform_box2 label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions_form input {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 23px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: none;
}

.questions_form .checkbox {
    display: inline;
    margin: 0 auto;
    color: #fff;      
}

.questionform_btn {
    font-size: 13px;
    line-height: 27px;
    width: 200px;
    margin: 0 auto;    
}

.questionform_contacts_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.questionform_contacts {
    background-color: #E3B873;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-left: 5px;
    margin-right: 10px;
}

.questionform_map {
    background-image: url(../images/map.jpg);
    width: 925px;
    height: 465px;
    max-width: 100%;
    background-position: center;
    margin: 0 auto;
    margin-top: 44px;
}



/* MOBILE */
@media all and (max-width: 768px) {

    h1, .intro__title {
        font-size: 23px;
        line-height: 133%;
    }

    h2 {
        font-size: 22px;
        line-height: 138.6%;
    }

    h3 {
        font-size: 14px;
        line-height: 138.6%;
    }

    h4 {
        font-size: 15px;
        line-height: 138.6%;
    }

    p, .intro__text {
        font-size: 11px;
        line-height: 158.48%;
    }

    .hide-on-desktop {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }

    /*header*/
    .nav, 
    .header__btn {
        display: none;            
    }

    .header__logo {
        margin-left: 18px;
    }

    .header__phone {
        margin-right: 18px;
    }

    /* Intro */
    .intro {
        height: auto;
        padding-bottom: 61px;
    }

    .intro__inner {
        width: 100%;
        left: auto;
    }

    .intro__title {
        font-size: 23px;
        line-height: 1.3em;
        padding-top: 85px;
        padding-left: 18px;
    }

    .intro__text {
        font-size: 14px;
        line-height: 135.84%;
        padding-left: 18px;
        text-align: left;
    }

    .intro__buttons {
        display: flex;
        flex-direction: column;
    }

    .intro__buttons .button {
        height: 51px;
        width: auto;
        margin-left: 18px !important;
        margin-right: 18px;
        margin-top: 32px;
    }

    .intro__buttons .intro__btn-submit {
        margin-top: 26px;
    }

        /* Projects */

    .projects {
        padding-bottom: 0;
        height: auto;
    }

    .projects__inner-slider {
        display: none;
    }

    .projects__inner {
        height:auto;
        margin: auto;
    }

    .projects__inner-list {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin: auto;
        margin-top: 36px;
        padding: 0%;
        width: calc(100% - 36px);
    }

    .projects__inner-list-text {
        color: #fff;
        font-size: 11px;
        line-height: 158.48%;
        margin: 32px auto;
        text-align: center;
        width: calc(100% - 36px);
    }

    .for-mobile {
        display: flex;  
        margin: 0 auto;
        margin-bottom: 36px;
        width: calc(100% - 36px);
    }

    .projects .for-mobile {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

    .projects-slide__formobile {
        position: relative;
        padding-top: 70%;
    }
    
    .projects-slide__formobile img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .projects-control__formobile {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: calc(50% - 18px);
        width: 100%;
    }

    .projects-control__formobile-btn-prev {
        width: 36px;
        height: 36px;
        background: #E3B873 url("../images/prev.svg") center no-repeat;
        border-radius: 50%;
    }

    .projects-control__formobile-btn-next {
        width: 36px;
        height: 36px;
        background: #E3B873 url("../images/prev.svg") center no-repeat;
        border-radius: 50%;
        transform: rotate(180deg);
    }

    .project__item h3 {
        font-size: 14px;
        line-height: 138.6%;
    }

    .project__item p {
        font-size: 11px;
        line-height: 18px;
    }

    .projects__inner-list-arrows {
        display: none;    
    }

    .control__inner-title {
        font-size: 22px;
        line-height: 138.6%;
    }

        /* Control */
    .control {
            background: #131313;
    }

    .control__inner {
        padding: 0 18px;
        margin: 0 auto; 
    }

    .camera {
        margin: 0 auto;
    }

    .videoplay {
        margin: 0 auto;
        margin-top: 40px;
        height: 207px;
        justify-content: center;
    }

    .videoplay .play-btn {
        width: 40px;
        height: 40px;
        left: auto;
    }

    .control__text {
        font-size: 11px;
        line-height: 19px;
        color: #fff;
        margin-top: 42px;
    }

    .control__text:before {
        content: ' ';
        width: 55px;
        border-bottom: 2px solid #E3B873;
        position: absolute;
        left: calc(50% - 29px);
        top: -21px;    
    }

    .control__form {
        flex-direction: column;
        align-items:flex-start;
        position: relative;
        padding-bottom: 30px;
        margin-top: 0;
    }

    

    .control__form-grup {
        width: 100%;
    }

    .control__form-grup input {
        border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
        width: 100%;
    }

    .control__form-grup input::placeholder {
        color: #fff;
    }

    .control__form-grup label {
        color: rgba(255, 255, 255, 0.5);
        margin: 61px 0 0;
    }

    .checkbox {
        color: #fff;
    }

    .control .checkbox {
        margin: 28px auto;
    }

    .control__form-btn {
            height: 50px;
            bottom: -25px;
            width: 100%;
    }

    .for-desktop {
        display: none;
    }

    .control__form-btn {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -21px;
    }

        /* Types */

    .types__worktypes {
        flex-direction: column;
        align-items: center;
        padding-bottom: unset;
    }

    .types__inner h3 {
        font-size: 22px;
        line-height: 138.6%;
    }

    .types__worktypes-item {
        position: relative;
        flex: auto;

        max-width: 100%;
        height: 365px;
        margin-bottom: 180px;
    }

    .types_type {
        position: absolute;
        top: 223px;
        left: -1px;
        margin: 0;
        padding-bottom: 17px;
    }

    .repair_list {
        top: 223px;
        margin: 0;
        padding-bottom: 35px;
        left: 0%;
    }

    .price .button {
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Measurement */
    .measurement {
        display: none;
    }

    /* Clients */
    .clients {
        display: none;
    }

    /* Portfolio */

    .portfolio-inner {
        display: flex;
        flex-direction: column;
        margin-bottom: -40%;
        z-index: 1;    
    }

    .portfolio h3 {
        font-size: 20px;
        line-height: 28px;
        margin-top: 55px;
        margin-bottom: 24px;
        color: #E3B873;
        text-align: center;
    }

    /* Questionform */
    .questionform_inner {
        padding-top: 20%;
        padding-left: 18px;
        padding-right: 18px;
        background: #181818;
        display: flex;
        flex-direction: column;
    
    }

    .questionform_inner .questions_form {
        top: 0px;
        height: auto;
        padding-bottom: 18px;
    }

    .questions_form h3 {
        font-size: 20px;
        line-height: 28px;
        margin-top: 50px;
    }   

    .questionform_box1 {
        flex-direction: column;
        margin: 0 auto;
    }

     .questions_form {
        position: relative;
    }

    .questionform_name,
    .questionform_phone {
        margin-top: 41px;
        margin-left: 0;
    }

    .questionform_box2 {
        margin-top: 41px;
        
    }

    .questionform .checkbox {
        margin-top: 20px;
    }

    .checkbox {
        font-size: 14px;
        line-height: 168%;
    }

    .questionform::before {
        display: none;
    }
 
    .questionform_btn {
        height: 50px;
        width: 100%;
        margin-top: 41px;
    }

    .questionform_map {
        height: 250px;
    }

    .questionform_inner .adress {
        order: 3;
        font-size: 18px;
        line-height: 138.6%;
    }

    .questionform_contacts_wrapper {
        order: 4;
    }

    footer {
        display: none;
    }
}